<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/template/error.css}"  rel="stylesheet">
<div class="scene">
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <span class="bg-403">403</span>
  <div class="text">
    <span class="hero-text"></span>
    <span class="msg">NO PUEDO <span>DEJARTE ENTRAR</span> AQUI.</span>
    <span class="support">
      <span>Regresa atras</span>
      <a th:href="@{/welcome/bienvenido}">Aqui</a>
    </span>
  </div>
  <div class="lock"></div>
</div>