<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>

<head>

<meta charset="UTF-8"></meta>
<title>PSICOUNIDOS I</title>

<script src="//code.jquery.com/jquery-1.11.1.min.js">
		</script>

<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
</link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
<link th:href="@{/css/template/magnific-popup.min.css}"  rel="stylesheet">
<link th:href="@{/css/template/creative.css}"  rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>




<body>

	<div th:replace="fragments/header :: header"></div>
	
	 <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img th:src="@{/imagenes/imagen1.jpg}" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-animate-right">¿Qué es la psicología clínica?</h1><br>
      <h5 class="w3-animate-right">Según TOPDOCTORS</h5>
      <p class="w3-large">La psicología clínica es la rama de la Psicología que se encarga de la investigación, la evaluación, el diagnóstico, el tratamiento, el pronóstico y la rehabilitación de todas aquellas cuestiones que afectan a la salud mental y que puede generar malestar o   <span class="w3-tag w3-light-grey">sufrimiento</span> en las personas.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">La psicología clínica estudia los elementos que tienen algún tipo de incidencia en los trastornos mentales o de conducta desadaptativa de las personas con el objetivo de restaurar su equilibrio psicológico. <span> Los orígenes de la psicología clínica se remontan a 1896 con Lightner Witmer en las primeras décadas del siglo XX, siendo la psicoterapia y el asesoramiento psicológico son dos de las prácticas más importantes de esta disciplina.</span> </p>
    </div>
  </div>
	
	 <div class="container my-auto">
    <div class="row">
    <!-- img th:src="@{/imagenes/header.png}" class="masthead imagen" -->
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Tus emociones,nuestra prioridad, empieza un camino de bienestar</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <!-- <p class="text-faded mb-5">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your ../static/ and start going, no strings attached!</p>
        -->
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#nosotros">Nosotros</a>
      </div>
    </div>
  </div>
	
	
				
	 <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img th:src="@{/imagenes/lispsicologo.jpg}" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-animate-right">¿Qué es la psicología ocupacional?</h1><br>
      <h5 class="w3-animate-right">Según educaweb</h5>
      <p class="w3-large">Los psicólogos ocupacionales aplican sus conocimientos de psicología en el lugar de trabajo. Observan el comportamiento de los trabajadores e investigan cómo este comportamiento afecta a la empresa para la que trabajan. Su objetivo es aumentar la eficiencia y la    <span class="w3-tag w3-light-grey">satisfacción </span> en el trabajo en toda la empresa.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Se sostiene que la inmensa mayoría de los accidentes laborales tienen su origen en una acción insegura, vale decir, en el factor humano. Detrás de esta acción se considera que la salud mental del individuo (alcoholismo, antecedentes de enfermedades, rasgos de personalidad, propensión a accidentes, entre otros) es el factor más importante. </p>
    </div>
  </div>
  
	 <div class="container my-auto">
    <div class="row">
    <!-- img th:src="@{/imagenes/header.png}" class="masthead imagen" -->
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Cuando miro el mundo soy pesimista, pero cuando miro a la gente soy optimista</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <!-- <p class="text-faded mb-5">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your ../static/ and start going, no strings attached!</p>
        -->
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#psicologos">Nuestros Psicologos</a>
      </div>
    </div>
  </div>
  
  
	<br>
	
	 
	<div class="container" id="nosotros">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column" align="center">
				 <h1 class="w3-animate-right">INTEGRANTES DEL PROYECTO</h1><br>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
							<li data-target="#myCarousel" data-slide-to="3"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<img th:src="@{/imagenes/anthamy.jpeg}" class="d-block w-100"
									alt="Imagen1">
									<div class="carousel-caption">
       								 <h3>Anthamy Barrera</h3>
       								 <p>Es divertido programar!</p>
     								 </div>
							</div>

							<div class="item">
								<img th:src="@{/imagenes/yo.jpeg}" class="d-block w-100"
									alt="Imagen2"><div class="carousel-caption">
       								 <h3>Luis Alfaro</h3>
       								 <p>Ya deseo egresar!</p>
     								 </div>
							</div>
							<div class="item">
								<img th:src="@{/imagenes/renzo2.jpeg}" class="d-block w-100"
									alt="Imagen2">
									<div class="carousel-caption">
       								 <h3>Renzo Rojas</h3>
       								 <p>Enfréntate a la verdad y serás libre.</p>
     								 </div>
							</div>

							<div class="item">
								<img th:src="@{/imagenes/zaña.jpg}"
									class="d-block w-100" alt="Imagen3"><div class="carousel-caption">
       								 <h3>Cristian Zaña</h3>
       								 <p>Escríbelo 📝,  Olvídalo 📆 y Avanza 🛣️</p>
     								 </div>
							</div>
						</div>

						<!-- Left and right controls -->
						<a class="left carousel-control" href="#myCarousel"
							data-slide="prev"> <span
							class="glyphicon glyphicon-chevron-left"></span> <span
							class="sr-only">Previous</span>
						</a> <a class="right carousel-control" href="#myCarousel"
							data-slide="next"> <span
							class="glyphicon glyphicon-chevron-right"></span> <span
							class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</form>
			
				</div>
			
			
			<div class="container" id="psicologos">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column" align="center">
				 <h1 class="w3-animate-right">NUESTROS PSICÓLOGOS</h1><br>
					<div id="myCarousel2" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel2" data-slide-to="1"></li>
							<li data-target="#myCarousel2" data-slide-to="2"></li>
							<li data-target="#myCarousel2" data-slide-to="3"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<img th:src="@{/imagenes/apoyo.jpg}" class="d-block w-100"
									alt="Imagen1">
									<div class="carousel-caption">
       								 <h3>Psicologa Mirtha</h3>
       								 <p>Es divertido programar!</p>
     								 </div>
							</div>

							<div class="item">
								<img th:src="@{/imagenes/leydesaludmental.jpeg}" class="d-block w-100"
									alt="Imagen2"><div class="carousel-caption">
       								 <h3>Psicologa Caroline</h3>
       								 <p>Ya deseo egresar!</p>
     								 </div>
							</div>
							<div class="item">
								<img th:src="@{/imagenes/logounidos.jpg}" class="d-block w-100"
									alt="Imagen2">
									<div class="carousel-caption">
       								 <h3>Psicologa Karla</h3>
       								 <p>Enfréntate a la verdad y serás libre.</p>
     								 </div>
							</div>

							<div class="item">
								<img th:src="@{/imagenes/zaña.jpg}"
									class="d-block w-100" alt="Imagen3"><div class="carousel-caption">
       								 <h3>Psicologo Miguel</h3>
       								 <p>Escríbelo 📝,  Olvídalo 📆 y Avanza 🛣️</p>
     								 </div>
							</div>
						</div>

						<!-- Left and right controls -->
						<a class="left carousel-control" href="#myCarousel2"
							data-slide="prev"> <span
							class="glyphicon glyphicon-chevron-left"></span> <span
							class="sr-only">Previous</span>
						</a> <a class="right carousel-control" href="#myCarousel2"
							data-slide="next"> <span
							class="glyphicon glyphicon-chevron-right"></span> <span
							class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</form>
			
				</div>
				
			
			
			
				
				<p>

				</p>
	
	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column" align="center">
					<img th:src="@{/imagenes/home.png}" width="1000" height="500"
						alt="logo" align="middle"></img>
				</div>
			</div>
		</form>
	</div>

	
	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column" align="center">
				
				
						</div>
			</div>
		</form>
	</div>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices nisl et ligula scelerisque rhoncus vitae sed leo. Pellentesque viverra malesuada facilisis. Mauris fermentum et turpis vitae volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus venenatis sit amet lectus dictum bibendum. Aenean sed fringilla libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus eu maximus enim. Donec sagittis nunc vel ultricies tincidunt. Aenean viverra at massa nec fermentum. Nulla bibendum nulla a nisi ultricies, sit amet vulputate risus consectetur. Mauris est lorem, finibus in est malesuada, interdum condimentum ipsum. Praesent ullamcorper fermentum quam et vestibulum. Donec fringilla felis non odio pretium mattis. Aliquam erat volutpat.

Aliquam erat volutpat. Vivamus non nisi eget orci varius egestas consequat quis ex. Vivamus sit amet dictum erat. Maecenas felis nulla, congue sed ante eu, volutpat pellentesque orci. Integer accumsan at sem iaculis volutpat. Nunc id bibendum tellus, a iaculis arcu. Cras quis libero id nunc laoreet placerat a eu tellus. Proin nec velit sit amet mi congue tincidunt efficitur eget ex. Aenean hendrerit mattis vestibulum. Maecenas tristique dolor nec laoreet mattis.

Pellentesque tristique quam vitae eros viverra, ut cursus neque mollis. Suspendisse potenti. Nullam sed congue nunc. Proin nulla ante, tincidunt ut mi at, placerat condimentum leo. Ut vitae venenatis leo, a convallis arcu. Duis sit amet ante eu dui feugiat imperdiet. Aenean accumsan, dolor id porttitor laoreet, leo est auctor nibh, et aliquam tortor sem nec leo. Quisque pulvinar lacus lacus, vitae porttitor risus sagittis pretium. Donec vitae odio ligula. Cras sit amet lectus mollis, pretium augue non, vestibulum nulla.

Ut placerat mauris quis eros scelerisque, id consequat risus elementum. Nulla convallis leo sed ex luctus posuere. Vestibulum ultricies tristique nibh quis fringilla. Integer vel mi facilisis, ornare ipsum a, lacinia nisl. Morbi pulvinar magna a felis luctus, et rutrum est suscipit. Sed sagittis orci erat. Fusce tempus interdum felis, sit amet pulvinar felis. Curabitur id justo eu nunc efficitur molestie. In non dui sed libero lobortis malesuada. Phasellus consequat hendrerit commodo. Duis in velit et purus volutpat convallis.

Suspendisse finibus tellus tortor, vel consectetur felis aliquam in. Etiam quis egestas urna. Fusce pretium at ligula at consectetur. Integer sit amet eros et ex aliquet gravida vitae ac quam. Fusce faucibus bibendum faucibus. Vestibulum lacinia congue ligula ac interdum. Curabitur nunc orci, malesuada nec tempor id, lacinia eu est. Etiam quis luctus tellus, sit amet finibus dui. Maecenas tristique placerat erat, a accumsan nunc faucibus ut. Quisque enim lacus, commodo id ex ac, varius vehicula felis. Quisque sit amet mi eu ipsum vehicula sagittis vel in quam. Cras interdum justo nunc, sit amet dignissim augue auctor sit amet. Morbi interdum augue a fermentum fringilla. Aenean pharetra nunc eget risus gravida commodo. Suspendisse viverra pharetra risus, id convallis nibh ullamcorper at.

Nullam molestie enim dui, eu gravida nulla faucibus ac. Aenean faucibus nulla varius, cursus lacus a, elementum mi. Integer ultricies aliquam ipsum eget convallis. Sed dignissim tincidunt sapien, eget iaculis nunc consectetur sed. Maecenas at tellus nec ligula suscipit lacinia. Pellentesque at ante pellentesque, dapibus justo sed, porttitor dolor. In ut dolor convallis, rhoncus nunc eu, hendrerit urna. Nam ac diam ut lacus consectetur lacinia.

In hac habitasse platea dictumst. Vivamus a dapibus nisl. Fusce auctor euismod feugiat. Sed quis porta ante, varius eleifend magna. Donec id enim eget neque rhoncus pulvinar. Aenean finibus rhoncus odio sodales cursus. Nulla facilisi. Donec vitae placerat massa, ac molestie erat. Donec vulputate orci tempor fermentum auctor. Sed ullamcorper suscipit neque, non tincidunt mauris sodales vel. Vestibulum blandit ante vitae aliquam vehicula. Ut non dignissim elit. Donec eget feugiat ex. Morbi varius purus id augue ultricies, scelerisque condimentum justo varius. In tincidunt blandit tellus, ut scelerisque dui euismod at.

Suspendisse vel urna nunc. Sed nisl metus, sollicitudin sed rutrum eu, mattis ut metus. Mauris dignissim lectus efficitur, viverra felis et, condimentum leo. Maecenas at eleifend augue, ut condimentum lacus. Nullam diam leo, sollicitudin et ultricies eget, mattis at turpis. Etiam condimentum vitae ipsum eu volutpat. Vivamus at enim id lacus condimentum pulvinar.

Aliquam vel enim eros. Cras non ullamcorper lorem, sit amet aliquam mi. Duis auctor ligula non dui tristique, non convallis libero blandit. Curabitur et hendrerit lorem, id rhoncus nisl. Ut egestas ornare arcu, quis ullamcorper urna euismod non. Ut lacinia vulputate quam vitae sodales. Mauris vel pellentesque tortor, eget mollis ante. Proin ultricies sapien tortor, sit amet porttitor arcu tempor vel. Phasellus eget imperdiet neque, vel semper mauris. Etiam eros tortor, dictum et dignissim eu, volutpat nec lacus. Integer dui neque, dapibus ut rhoncus id, euismod nec sem. Suspendisse fringilla scelerisque condimentum.

Phasellus dapibus, leo eu dignissim faucibus, mauris diam tempus urna, in venenatis sapien erat at sapien. Sed id ullamcorper enim. Maecenas sit amet justo cursus, interdum felis id, maximus turpis. Fusce ipsum magna, aliquam sit amet mollis at, sagittis pellentesque eros. Curabitur et eros porta, rutrum leo a, sagittis erat. Donec eu libero massa. Quisque sit amet ante lorem. Duis lacus lectus, blandit quis elit eu, hendrerit maximus diam. Quisque facilisis ligula at justo posuere lobortis. Praesent elementum urna porttitor nisl vestibulum, tempor iaculis tortor venenatis. Donec at leo et mi pulvinar tincidunt in pulvinar diam. Morbi commodo rhoncus risus eu venenatis. Nunc bibendum porttitor nulla, malesuada elementum nibh lacinia ac. Fusce in euismod dui. Pellentesque mollis viverra vehicula.</p>
	
	
	
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>