<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>

<head>

<meta charset="UTF-8"></meta>
<title>PSICOUNIDOS I</title>

<script src="//code.jquery.com/jquery-1.11.1.min.js">
		</script>

<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
</link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
<link th:href="@{/css/template/magnific-popup.min.css}"  rel="stylesheet">
<link th:href="@{/css/template/creative.css}"  rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>




<body>

	<div th:replace="fragments/header :: header"></div>
	
	 <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img th:src="@{/imagenes/imagen1.jpg}" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-animate-right">¿Qué es la psicología clínica?</h1><br>
      <h5 class="w3-animate-right">Según TOPDOCTORS</h5>
      <p class="w3-large">La psicología clínica es la rama de la Psicología que se encarga de la investigación, la evaluación, el diagnóstico, el tratamiento, el pronóstico y la rehabilitación de todas aquellas cuestiones que afectan a la salud mental y que puede generar malestar o   <span class="w3-tag w3-light-grey">sufrimiento</span> en las personas.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">La psicología clínica estudia los elementos que tienen algún tipo de incidencia en los trastornos mentales o de conducta desadaptativa de las personas con el objetivo de restaurar su equilibrio psicológico. <span> Los orígenes de la psicología clínica se remontan a 1896 con Lightner Witmer en las primeras décadas del siglo XX, siendo la psicoterapia y el asesoramiento psicológico son dos de las prácticas más importantes de esta disciplina.</span> </p>
    </div>
  </div>
	
	 <div class="container my-auto">
    <div class="row">
    <!-- img th:src="@{/imagenes/header.png}" class="masthead imagen" -->
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Tus emociones,nuestra prioridad, empieza un camino de bienestar</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <!-- <p class="text-faded mb-5">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your ../static/ and start going, no strings attached!</p>
        -->
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#nosotros">Nosotros</a>
      </div>
    </div>
  </div>
	
	
				
	 <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img th:src="@{/imagenes/lispsicologo.jpg}" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-animate-right">¿Qué es la psicología ocupacional?</h1><br>
      <h5 class="w3-animate-right">Según educaweb</h5>
      <p class="w3-large">Los psicólogos ocupacionales aplican sus conocimientos de psicología en el lugar de trabajo. Observan el comportamiento de los trabajadores e investigan cómo este comportamiento afecta a la empresa para la que trabajan. Su objetivo es aumentar la eficiencia y la    <span class="w3-tag w3-light-grey">satisfacción </span> en el trabajo en toda la empresa.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Se sostiene que la inmensa mayoría de los accidentes laborales tienen su origen en una acción insegura, vale decir, en el factor humano. Detrás de esta acción se considera que la salud mental del individuo (alcoholismo, antecedentes de enfermedades, rasgos de personalidad, propensión a accidentes, entre otros) es el factor más importante. </p>
    </div>
  </div>
  
	 <div class="container my-auto">
    <div class="row">
    <!-- img th:src="@{/imagenes/header.png}" class="masthead imagen" -->
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Cuando miro el mundo soy pesimista, pero cuando miro a la gente soy optimista</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <!-- <p class="text-faded mb-5">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your ../static/ and start going, no strings attached!</p>
        -->
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#psicologos">Nuestros Psicologos</a>
      </div>
    </div>
  </div>
  
  
	<br>
	
	 <p> 
	 
	 Lorem ipsum dolor sit amet, consectetur a
	 dipiscing elit. Nam quis leo lorem. Fusce vitae eros vel mi ultricies rutrum non et libero. Mauris ornare sit amet elit vel interdum. Nam rutrum sapien ac erat venenatis volutpat vitae malesuada erat. Morbi placerat velit sit amet nisi aliquet, a molestie metus sagittis. Proin aliquam arcu urna, at imperdiet elit egestas id. Aenean nisi nisl, consequat eget facilisis eget, pretium vel mauris. Vivamus urna turpis, semper at dictum sit amet, congue a leo. Aenean condimentum velit dolor, at consequat justo tincidunt eget. Etiam ultrices enim quam, sed euismod risus consectetur a. Maecenas urna nibh, vestibulum varius semper vel, elementum non elit.


Proin eu fermentum elit, vel feugiat nulla. Cu
rabitur mollis nunc ante, eget fringilla eros posuere eget. Integer a urna vehicula, dignissim risus sed, varius lectus. Integer consequat venenatis mauris at fringilla. Aenean at felis in dolor commodo maximus in et lectus. Proin eleifend venenatis euismod. Nam et purus sit amet leo dictum laoreet. Mauris sit amet porttitor dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc eget nulla vitae dolor cursus venenatis. Praesent condimentum aliquam libero in pulvinar. Nullam suscipit sem vitae tortor gravida malesuada. Morbi lacinia lacinia luctus. Donec massa lacus, ultrices eu accumsan vitae, pellentesque eu leo. Etiam vel metus in felis porta facilisis et non nisi.


Vivamus cursus, neque vel egestas fring
illa, risus leo facilisis tellus, euismod commodo odio orci in turpis. Maecenas eu augue posuere est euismod sollicitudin vulputate vel sapien. Fusce molestie lobortis accumsan. Donec feugiat blandit mollis. Duis quam enim, vehicula sed rhoncus at, efficitur ac urna. In hac habitasse platea dictumst. Aenean turpis tortor, feugiat cursus eros eleifend, pretium eleifend sem. Aliquam sapien urna, semper vitae risus in, fringilla semper ex. Fusce elit diam, venenatis et hendrerit sagittis, sollicitudin eu ipsum. Aliquam lacinia est sed rhoncus volutpat. Nunc in interdum orci. Vestibulum aliquam pharetra nunc, sed volutpat nibh commodo et. Donec et lobortis augue. Nunc eget commodo dui, sit amet mollis arcu. Curabitur eu dolor luctus, commodo lorem a, porttitor turpis. Integer quis odio diam.


Sed cursus justo diam, eget tempus lor
em mattis nec. Vivamus blandit gravida vehicula. Mauris quis fringilla massa, eget gravida erat. Aenean tempor a ligula sit amet tempus. Donec mauris est, fringilla non lorem sit amet, volutpat luctus augue. Curabitur sem purus, tristique et ullamcorper eu, consectetur eget libero. Proin tempus libero eu posuere vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed justo nisi. Fusce id diam quam. Sed gravida sed sem nec finibus. Proin ullamcorper tortor sit amet viverra accumsan. Donec viverra facilisis risus, sit amet ornare mauris.

Etiam volutpat lacus in purus faucibus lo
bortis. Nunc consectetur lorem in sem pretium eleifend. Sed sapien turpis, rutrum et suscipit sit amet, consectetur eu neque. Donec imperdiet massa magna, ac ullamcorper odio ullamcorper eu. Duis quis tortor pretium, varius augue eget, iaculis purus. Nulla vehicula dolor erat, sed ultrices est pharetra non. Nulla non neque eget turpis suscipit pretium vel vel diam. Suspendisse justo ante, molestie sit amet suscipit nec, imperdiet non diam. Suspendisse id dui et orci facilisis pellentesque ut ac ante. Vestibulum interdum gravida eros, at interdum risus commodo a. Duis ullamcorper bibendum pulvinar. Duis iaculis ornare neque, et sagittis nibh aliquet vitae. Ut risus nunc, laoreet at justo eu, hendrerit vulputate mauris. Pellentesque sit amet viverra odio. Aenean ut neque nisl. Donec congue, diam eget maximus tincidunt, nibh magna placerat dolor, eu laoreet sem odio quis est.

Duis scelerisque metus in sapien pellentes
que varius. Donec ut odio nec eros condimentum placerat non in lorem. Maecenas eget tempus turpis. In convallis et dolor a accumsan. Cras euismod blandit enim, a dictum massa dapibus eget. Proin mattis magna in nibh accumsan facilisis. Sed sed ullamcorper dui, eu tincidunt augue. Sed malesuada dui et elementum bibendum. Aenean dictum justo ut eros euismod, ut imperdiet enim commodo. Sed imperdiet tortor orci, in lacinia lacus consectetur tincidunt. Ut blandit posuere ipsum, ut lobortis lorem tristique eu. Nulla in nulla ac ligula dictum auctor. Mauris viverra augue sit amet molestie malesuada. Donec in sagittis lacus. Mauris in aliquam leo, nec placerat justo.


Praesent sit amet urna est. Etiam vel
 consectetur augue. Nam ac dolor finibus, sagittis sapien ac, accumsan dui. Nulla et sodales nibh. Donec ultricies orci tellus, ut finibus dui auctor at. Mauris id dapibus dolor. Aliquam pretium diam hendrerit enim consectetur, ac rutrum lacus fringilla. Curabitur vulputate erat eu enim dignissim pretium. Maecenas malesuada sed felis eget finibus. Ut sodales mi ut justo tempus posuere. Phasellus sed magna vitae ante accumsan tempor.



Aenean et purus viverra, cursus augu
e et, luctus dui. In ut congue sapien, non maximus quam. Praesent iaculis orci eu nisi bibendum ultricies. Integer est nisl, malesuada scelerisque mauris et, viverra volutpat velit. Morbi mi nulla, consectetur condimentum ullamcorper quis, porttitor at urna. In euismod quam et vestibulum eleifend. Vestibulum blandit, sapien sed mattis sollicitudin, odio est ultrices mauris, quis vulputate orci risus id felis.

In iaculis hendrerit ante, vitae eleif
end urna varius sit amet. Suspendisse in vulputate ipsum, vitae dapibus quam. Etiam facilisis cursus interdum. Integer tincidunt et nibh et dignissim. Phasellus malesuada nisl sit amet odio ornare, et posuere augue volutpat. Morbi finibus neque tempor ligula porta, eget vestibulum quam venenatis. Vivamus pretium sapien nunc, nec semper ligula pharetra at. In vitae pellentesque urna, nec tempor orci. Nunc aliquam tortor felis, sit amet elementum arcu tempus dapibus. Nullam tristique, turpis at tempus dictum, est purus rhoncus dolor, at feugiat tellus felis ut leo. Ut sed magna id eros ultricies dictum. Duis tempus arcu nibh, eu eleifend tellus posuere eget. Nulla efficitur pretium massa, quis rutrum libero lobortis at.

Quisque ullamcorper lorem
 eu dignissim eleifend. Ut vel ultrices est. Suspendisse suscipit magna dui, non pellentesque massa iaculis in. Curabitur a lorem at tortor dictum eleifend. In semper lorem vel faucibus laoreet. Ut venenatis nunc vulputate faucibus tristique. Donec neque enim, tempus a elit at, viverra dignissim libero. Fusce eget auctor ipsum. Nulla ut magna sed purus cursus maximus. Cras faucibus tortor est, posuere sodales elit sollicitudin nec. Ut dignissim maximus lorem in dictum. Fusce at porta est.

Nam at mattis velit. Sed s
it amet magna magna. Integer et aliquet augue, sed accumsan ipsum. Duis suscipit pretium velit, id suscipit augue venenatis eu. Donec placerat id leo iaculis interdum. In imperdiet metus porttitor justo ultrices finibus. Nulla vitae lacus non ligula finibus fermentum. Sed luctus lectus consectetur purus sollicitudin, a dapibus ipsum luctus. Nullam scelerisque ultricies libero, vitae varius quam molestie eget. Quisque egestas sit amet nisl et fermentum. Pellentesque eu dolor hendrerit libero laoreet fringilla vel at ante.

Maecenas a sapien ex. Nullam
 malesuada dictum rutrum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum lectus neque, euismod ut eros nec, tincidunt dapibus odio. Maecenas lacinia, urna in mattis sollicitudin, magna massa egestas nulla, dignissim rhoncus ligula nunc a augue. Vestibulum vitae dolor ornare, hendrerit sem quis, tempor nunc. Cras iaculis augue eu placerat accumsan. Fusce varius vel mauris ac euismod. Pellentesque euismod id ligula a rhoncus. Proin fermentum ligula a ex pharetra, nec tincidunt metus auctor.

Mauris vehicula eros turpis, eu
 aliquam lorem viverra vitae. Sed sagittis, elit a rhoncus vehicula, mi odio suscipit erat, a ornare ipsum magna et libero. Nullam urna velit, consequat vitae nibh eget, iaculis pellentesque odio. Nunc sit amet nulla et justo volutpat dapibus. Nullam quam ante, tempus sed posuere in, placerat sed ante. Donec a venenatis enim. Pellentesque lacinia odio auctor, aliquam est sodales, fringilla enim. Ut augue ante, porta sit amet porta euismod, tincidunt facilisis enim. Donec bibendum, enim ac congue luctus, sem mi ullamcorper sapien, id accumsan nulla purus sed eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam accumsan lacus eu nisi ornare dictum. Phasellus vitae pulvinar mauris, eu fermentum lacus. Suspendisse volutpat varius porta. Donec tincidunt imperdiet risus, a gravida nibh efficitur ac. Donec convallis neque diam, in dapibus est semper vitae.

In fringilla finibus velit, ut f
eugiat justo tristique vitae. Phasellus erat ante, tempor at mollis quis, venenatis vel sem. Donec est orci, mattis viverra volutpat nec, porttitor egestas ligula. Morbi lobortis malesuada nunc interdum euismod. Sed bibendum, magna consequat auctor porttitor, mauris massa fermentum nulla, non luctus eros eros eleifend dolor. Morbi blandit, ligula a bibendum ullamcorper, quam magna vulputate augue, ut tempus odio arcu et erat. Phasellus a suscipit lectus, quis malesuada ligula. Quisque bibendum ex ac quam fermentum, a volutpat nisi luctus. Quisque eu convallis orci. Sed hendrerit eget nibh non feugiat. Vestibulum non tellus purus. Aliquam finibus metus quis hendrerit ullamcorper.

Maecenas hendrerit neque sed vesti
bulum dignissim. Nunc ut imperdiet augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur cursus id risus vitae viverra. Fusce consequat ipsum nisl, sit amet euismod quam eleifend quis. Vivamus euismod egestas lorem non aliquam. Nunc tellus massa, dapibus at sapien eget, porta congue urna. Sed sodales eros fermentum iaculis pharetra. Donec id purus non urna sagittis rutrum vitae sed ex. Sed lacinia porttitor arcu a convallis. In hac habitasse platea dictumst. Quisque pretium nulla id dui iaculis, a tempor quam dapibus. Cras tristique tincidunt augue non varius. Duis porttitor urna vitae felis posuere, et dictum enim fringilla. Phasellus lobortis feugiat tristique.

In faucibus eget dolor quis eleife
nd. Pellentesque commodo mattis orci, sed blandit ante dapibus id. Sed tincidunt rhoncus lorem, eget ultricies mi pellentesque volutpat. Cras convallis, nisi in dapibus dignissim, arcu dui lobortis eros, ac suscipit enim orci vitae ipsum. Vestibulum ac nunc congue lorem mattis fringilla eu id sapien. Ut hendrerit pellentesque ornare. Maecenas laoreet pellentesque ex non vehicula. Cras eget eleifend mauris.

Pellentesque et rutrum lectus. Vest

Proin hendrerit ut risus eu tempus. F
usce vel nulla sem. Donec aliquam vel nu
lla ac lacinia. Aliquam pharetra fringilla nisl. Nullam aliquam in diam quis interdum. Suspendisse suscipit arcu gravida posuere tempor. Morbi auctor placerat sem, sit amet pharetra enim hendrerit in. Sed sit amet ligula vel neque congue ultrices nec vel nisl. Maecenas vehicula magna quis lorem molestie, non pulvinar ipsum accumsan. Mauris imperdiet odio quis est auctor, sit amet volutpat mi varius. Fusce scelerisque condimentum ultrices. Nullam quam neque, dignissim non molestie pellentesque, ultricies at mi. In hac habitasse platea dictumst. Fusce faucibus sodales quam facilisis commodo. Mauris tempus aliquam enim vulputate pulvinar. Mauris id metus sit amet urna vehicula facilisis at et quam.


Quisque et elementum erat, ac varius mauri
s. Etiam in purus eu mauris elementum efficitur. Nunc laoreet dolor vitae aliquet egestas. Fusce fermentum, quam non venenatis cursus, augue urna ultricies mauris, eu ultricies dolor sem et neque. Aliquam finibus augue ligula, id ultrices nibh malesuada id. Curabitur vestibulum maximus neque, eu feugiat diam scelerisque sed. Sed euismod vel nisi sit amet porta. Cras ultrices nibh est, quis tempus elit ultrices eu. Sed varius fringilla nunc, sollicitudin vulputate odio ornare vel. Mauris molestie mi a mattis mattis. Pellentesque lobortis suscipit leo. Nulla in pharetra mauris.

Donec at feugiat diam, sed mollis ipsum. Vi
vamus scelerisque purus eu ante consequat fermentum. Suspendisse egestas odio vitae odio sollicitudin, ac tempor est rutrum. Mauris et congue purus, ut elementum libero. Maecenas id scelerisque lectus, ut vestibulum mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sed iaculis ipsum.

Quisque volutpat ac tortor a commodo. Etiam sodales, augue sed placerat consequat, odio purus mollis odio, et sollicitudin dui enim eu risus. Cras venenatis ornare ullamcorper. Quisque et dignissim nisl, ac consequat urna. Nam eu libero non nisl tincidunt iaculis eget placerat lorem. Aenean facilisis pellentesque semper. Nunc convallis tortor sed condimentum cursus. Duis auctor iaculis orci. Nunc a mauris nec erat euismod aliquet quis nec massa.





Sed eget viverra quam. In ut ornare magna, et sodales neque. Vestibulum sollicitudin cursus consequat. Donec nisi nunc, mollis id dolor a, dictum tincidunt ipsum. Quisque in nunc libero. Fusce tempor lacus velit, rutrum facilisis diam suscipit quis. Maecenas quis placerat orci.


Aliquam hendrerit sem vel magna scelerisque, a dapibus est aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet maximus blandit. Nullam consectetur rhoncus tempor. Maecenas metus mi, venenatis et metus ac, egestas tincidunt justo. Nullam sollicitudin orci vitae accumsan rhoncus. Donec massa massa, finibus et gravida et, blandit vel nibh. Aliquam efficitur tortor imperdiet eros sagittis, sed tristique metus elementum. Vestibulum a porttitor felis. Sed pulvinar purus sed nibh sodales, cursus tempus lacus bibendum. Mauris vestibulum neque ornare dolor congue, sed dapibus ante consectetur. Integer maximus velit nec feugiat bibendum.

Nulla dictum mi quis nulla commodo sagittis.
 Curabitur mi est, mattis vel dui eu, feugiat molestie ipsum. Mauris pellentesque placerat egestas. Curabitur feugiat, lacus quis pellentesque cursus, nibh velit dictum nisi, a vulputate elit eros sit amet velit. Sed ac egestas orci. Fusce eleifend dignissim luctus. Pellentesque dictum ac metus nec consectetur. Aenean eu nunc leo. Quisque at ligula pellentesque, bibendum ante ut, semper massa. Etiam mollis aliquet efficitur.

In vitae feugiat erat. Nulla nisi eros, placerat ut tortor vitae, faucibus dignissim eros. Morbi tristique semper magna. Nullam vel ullamcorper nibh. Ut auctor consectetur vestibulum. Aenean et egestas massa, sed rutrum erat. Sed erat orci, suscipit sodales augue vel, facilisis commodo turpis. Pellentesque at nibh eget turpis vehicula elementum. Fusce pretium nunc sed tellus laoreet ultricies.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae commodo mauris. Vestibulum malesuada laoreet viverra. Curabitur augue massa, viverra vel elit aliquet, condimentum commodo massa. Integer finibus nibh at ligula varius viverra. Pellentesque nisi ligula, sodales nec mi pharetra, tincidunt feugiat purus. Proin vel efficitur nunc, ac porta arcu. Aenean congue, felis sit amet vulputate placerat, mauris ipsum posuere neque, in cursus mauris nunc ut velit. In hac habitasse platea dictumst.

Donec at maximus tellus, vel
 dapibus ex. Integer et mi tortor. Nulla facilisi. Vivamus varius vitae tortor eget tempor. Proin pulvinar nulla nisi, vitae pharetra ex volutpat et. Donec et ex nibh. Sed sit amet ipsum gravida, faucibus lectus in, mattis lorem. Nulla volutpat dui et scelerisque volutpat. Phasellus consequat sapien eget erat laoreet, ut aliquam tortor convallis. Mauris pharetra massa vel nisi tincidunt, feugiat vehicula sapien tincidunt. Phasellus fermentum lorem est, ut aliquam ligula placerat et. Nunc nec erat volutpat, placerat turpis non, viverra risus. Quisque imperdiet orci lacus, in finibus magna ultrices nec. Maecenas finibus tellus ac vulputate suscipit. Quisque non eros nulla.

Nunc imperdiet augue nunc, id aliquet neque 
pretium in. Aliquam erat volutpat. Nunc tincidunt quam id risus dapibus, at imperdiet turpis pellentesque. Aenean molestie nisi ac ultricies tempus. Praesent non odio varius, suscipit odio non, eleifend ante. Vestibulum consectetur augue in enim elementum, id pellentesque lorem gravida. Duis fringilla tortor non enim auctor vehicula at a magna. Cras dapibus orci ac purus imperdiet, id tempus nunc consectetur. Sed scelerisque id dui vitae mattis. Sed tempus cursus risus, sit amet commodo ex pretium ac. Suspendisse faucibus tortor est, et aliquet lacus aliquam a. Quisque faucibus mollis est, tristique mollis lacus accumsan ut. In risus urna, rhoncus id malesuada eget, hendrerit ac felis.


Ut lacinia lorem ligula, sed cursus risus tinc
idunt imperdiet. Aenean placerat sed turpis vel bibendum. Mauris sit amet metus quis tellus laoreet aliquam. Morbi eu aliquam tellus. Donec facilisis nibh sit amet cursus porttitor. Nunc malesuada sit amet metus at blandit. Duis interdum fermentum est non condimentum. Curabitur eget auctor neque. Cras vel efficitur est. Nulla volutpat sit amet nisl eget vehicula. Maecenas ultricies erat quis massa porta ultrices tincidunt et nulla. Vestibulum auctor nisi eros, nec imperdiet justo consequat quis. Ut vel nibh lorem. Duis in tincidunt quam. Ut posuere felis ligula, et condimentum sapien ullamcorper at.

Phasellus id maximus erat. Vestibulum rutrum fe
rmentum elit quis maximus. Proin convallis tincidunt felis, nec placerat velit dignissim vel. Vivamus commodo lorem sed augue dapibus, auctor facilisis metus porttitor. Donec vulputate turpis ex, a vehicula lorem maximus sit amet. Maecenas neque quam, pulvinar ut elit et, ultrices pretium quam. Ut lobortis ultrices odio sed aliquam. Suspendisse potenti.

Fusce ac ultrices tellus, non cursus elit. Vivam
us dolor est, molestie eget tempor sed, lacinia et massa. Maecenas molestie aliquet tincidunt. Vivamus condimentum ligula dui, sed varius lectus lobortis in. Phasellus efficitur rhoncus ex sed condimentum. Etiam auctor interdum ornare. Vivamus in erat porttitor nisl gravida aliquet eget quis ante. Ut massa metus, euismod nec enim eget, condimentum ullamcorper lectus. Donec eleifend egestas lacinia. Sed vitae erat nulla. Nullam ultrices aliquam eros. Vestibulum semper urna sit amet dui lacinia, non luctus mauris vulputate. Praesent et mi efficitur orci suscipit interdum. Aliquam nec turpis nec erat tempor ornare in nec tortor. Nunc a lacus urna. Cras tempor ante nisl, tincidunt pharetra diam porta in.

In vitae urna ut nisl sodales malesuada eget eu 
erat. Ut vulputate a ex quis tempor. Integer quam eros, faucibus in ornare at, lacinia at ipsum. Ut porta faucibus lorem. Suspendisse dictum sagittis est vitae volutpat. Proin lacus quam, commodo ac neque imperdiet, porta volutpat neque. Pellentesque vitae molestie dolor. Mauris vehicula ut lacus nec tincidunt. Maecenas pellentesque dui ligula, vitae maximus eros luctus nec. Sed vel efficitur sem. Fusce facilisis consequat ipsum, ut vestibulum metus finibus at. Donec ullamcorper lacus tortor, in porttitor justo viverra nec. Duis eu accumsan sapien. Aliquam mauris ante, mollis in enim a, porttitor luctus ipsum.

Nulla nec metus la

cus. Quisque aliquet dui vel erat placerat sollicitudin. Ut fermentum metus in felis congue ultricies. Aliquam dignissim nibh eget metus imperdiet, non posuere est sollicitudin. Morbi eget nunc at turpis pretium elementum. Mauris bibendum odio eget turpis porttitor commodo. Sed ultricies id ipsum et maximus. Mauris auctor, lacus non auctor posuere, est ante venenatis ex, eget bibendum lacus est a lacus. Pellentesque mollis, sapien non convallis consequat, purus ipsum gravida massa, ac placerat turpis neque nec purus. Quisque ut lectus ex. Morbi sagittis tellus at erat ullamcorper, id aliquam felis suscipit.

Morbi eget odio at odio tempor hendrerit nec 
vel mi. Phasellus interdum dictum tellus non semper. Morbi nibh orci, lacinia non tortor quis, placerat lacinia est. Nam vitae sagittis ipsum, quis elementum neque. Vivamus dignissim orci sit amet iaculis auctor. Sed mollis, felis in tristique ultrices, felis lacus commodo urna, eu ultricies ante libero ac arcu. Vivamus ullamcorper et augue in interdum. Curabitur vel diam lacinia, tempor ex vel, ornare nulla. Vivamus quis aliquam felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.


Maecenas id feugi



at justo. Mauris id volutpat erat. Praesent faucibus euismod ipsum, sit amet vestibulum mi tincidunt at. Sed urna risus, accumsan ut dapibus vel, tempor eu risus. Proin commodo eget sapien vitae efficitur. Etiam bibendum at ligula nec mattis. Cras hendrerit libero augue, dapibus maximus lectus elementum nec. Nullam fringilla nisl vitae tortor porttitor, nec iaculis nulla vestibulum. Vestibulum ut orci auctor, convallis elit quis, aliquet sem.

Fusce tempus co
nvallis diam id tempor. Nam vitae pulvinar est, eu tempor velit. Nulla ac dui quis ligula maximus molestie. Nulla nisl risus, feugiat in tellus eget, gravida rutrum eros. Sed ultricies at enim nec pellentesque. Nunc tempor egestas magna eu elementum. Nulla erat urna, pulvinar ac pharetra et, ullamcorper a ex.


Curabitur molestie molestie dapibus. Proin m
attis ultricies augue a suscipit. Sed ullamcorper egestas lacus, ac maximus ipsum porttitor sit amet. Quisque in tempor dui. Vivamus interdum tincidunt rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam sollicitudin sapien ac turpis finibus tempus. Fusce commodo tortor tellus. Nulla porttitor ipsum eros, in dapibus justo cursus eu. Donec eget dictum metus, eu pellentesque nunc. Nullam ullamcorper magna quis leo rhoncus, sed interdum quam volutpat. Integer eget turpis ipsum. Nullam porttitor, ligula in vestibulum dictum, ipsum ipsum lacinia tellus, at semper lorem orci at dolor. Maecenas ligula libero, luctus vitae purus et, pellentesque iaculis ipsum. Nullam aliquam a risus in hendrerit.

Etiam vitae urna at lectus convallis ultrice
s nec vitae elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis nec ultrices elit, sed malesuada tortor. Fusce dapibus ut arcu sit amet varius. Cras pharetra, turpis vitae auctor rhoncus, mauris ligula blandit urna, sit amet aliquam velit leo eget magna. Proin pellentesque condimentum mi, quis blandit purus viverra sit amet. Ut cursus felis non tortor interdum hendrerit. Suspendisse semper dignissim nisl in interdum. In auctor mattis laoreet. Nullam condimentum viverra mi, nec cursus dui mollis non. Aenean a lacinia ex. Vestibulum nisi neque, placerat nec suscipit quis, porta ac velit.


Morbi id sem leo. Donec consectetur orci liber
o, in laoreet eros molestie sit amet. Suspendisse euismod tempus leo nec gravida. Aliquam quis dui a massa consectetur rhoncus. Mauris molestie tempus est pretium dignissim. Donec semper, augue quis interdum hendrerit, erat felis pellentesque eros, in vestibulum lorem mauris ut ligula. Duis lorem diam, rhoncus et sapien vel, aliquam accumsan massa. Phasellus in mollis dui, ac auctor risus. Aliquam vehicula egestas tincidunt. Suspendisse ac posuere purus, ut sodales neque. Donec tellus libero, feugiat non dui at, condimentum fringilla est. Suspendisse ullamcorper ullamcorper rhoncus. Mauris et metus egestas turpis ultrices consectetur id nec metus.

in sapien ultrices faucib
us. Fusce vulputate volutpat purus sodales mat
tis. Duis rhoncus nibh ut nibh condimentum malesuada. Integer facilisis lectus magna, id maximus lacus sollicitudin non. Duis facilisis, lorem vitae feugiat iaculis, ex neque laoreet dolor, aliquet aliquam ex erat at eros. Mauris orci libero, finibus nec elit id, cursus pulvinar neque. Curabitur pretium porttitor sapien non ultrices. Mauris vitae nunc lacus. Donec efficitur purus eget nibh aliquet fringilla. Donec blandit tempor felis non fermentum. Praesent non lorem dapibus, vestibulum sem mattis, semper turpis. Cras mattis nibh at aliquam ultricies.
	 
	 
	 
	 
	 
	 
	 </p>
	<div class="container" id="nosotros">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column" align="center">
				 <h1 class="w3-animate-right">INTEGRANTES DEL PROYECTO</h1><br>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
							<li data-target="#myCarousel" data-slide-to="3"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<img th:src="@{/imagenes/anthamy.jpeg}" class="d-block w-100"
									alt="Imagen1">
									<div class="carousel-caption">
       								 <h3>Anthamy Barrera</h3>
       								 <p>Es divertido programar!</p>
     								 </div>
							</div>

							<div class="item">
								<img th:src="@{/imagenes/yo.jpeg}" class="d-block w-100"
									alt="Imagen2"><div class="carousel-caption">
       								 <h3>Luis Alfaro</h3>
       								 <p>Ya deseo egresar!</p>
     								 </div>
							</div>
							<div class="item">
								<img th:src="@{/imagenes/renzo2.jpeg}" class="d-block w-100"
									alt="Imagen2">
									<div class="carousel-caption">
       								 <h3>Renzo Rojas</h3>
       								 <p>Enfréntate a la verdad y serás libre.</p>
     								 </div>
							</div>

							<div class="item">
								<img th:src="@{/imagenes/zaña.jpg}"
									class="d-block w-100" alt="Imagen3"><div class="carousel-caption">
       								 <h3>Cristian Zaña</h3>
       								 <p>Escríbelo 📝,  Olvídalo 📆 y Avanza 🛣️</p>
     								 </div>
							</div>
						</div>

						<!-- Left and right controls -->
						<a class="left carousel-control" href="#myCarousel"
							data-slide="prev"> <span
							class="glyphicon glyphicon-chevron-left"></span> <span
							class="sr-only">Previous</span>
						</a> <a class="right carousel-control" href="#myCarousel"
							data-slide="next"> <span
							class="glyphicon glyphicon-chevron-right"></span> <span
							class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</form>
			
				</div>
			
			
			<div class="container" id="psicologos">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column" align="center">
				 <h1 class="w3-animate-right">NUESTROS PSICÓLOGOS</h1><br>
					<div id="myCarousel2" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel2" data-slide-to="1"></li>
							<li data-target="#myCarousel2" data-slide-to="2"></li>
							<li data-target="#myCarousel2" data-slide-to="3"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<img th:src="@{/imagenes/apoyo.jpg}" class="d-block w-100"
									alt="Imagen1">
									<div class="carousel-caption">
       								 <h3>Psicologa Mirtha</h3>
       								 <p>Es divertido programar!</p>
     								 </div>
							</div>

							<div class="item">
								<img th:src="@{/imagenes/leydesaludmental.jpeg}" class="d-block w-100"
									alt="Imagen2"><div class="carousel-caption">
       								 <h3>Psicologa Caroline</h3>
       								 <p>Ya deseo egresar!</p>
     								 </div>
							</div>
							<div class="item">
								<img th:src="@{/imagenes/logounidos.jpg}" class="d-block w-100"
									alt="Imagen2">
									<div class="carousel-caption">
       								 <h3>Psicologa Karla</h3>
       								 <p>Enfréntate a la verdad y serás libre.</p>
     								 </div>
							</div>

							<div class="item">
								<img th:src="@{/imagenes/zaña.jpg}"
									class="d-block w-100" alt="Imagen3"><div class="carousel-caption">
       								 <h3>Psicologo Miguel</h3>
       								 <p>Escríbelo 📝,  Olvídalo 📆 y Avanza 🛣️</p>
     								 </div>
							</div>
						</div>

						<!-- Left and right controls -->
						<a class="left carousel-control" href="#myCarousel2"
							data-slide="prev"> <span
							class="glyphicon glyphicon-chevron-left"></span> <span
							class="sr-only">Previous</span>
						</a> <a class="right carousel-control" href="#myCarousel2"
							data-slide="next"> <span
							class="glyphicon glyphicon-chevron-right"></span> <span
							class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</form>
			
				</div>
				
			
			
			
				
				<p>

				</p>
	
	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column" align="center">
					<img th:src="@{/imagenes/home.png}" width="1000" height="500"
						alt="logo" align="middle"></img>
				</div>
			</div>
		</form>
	</div>

	
	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column" align="center">
				
				
						</div>
			</div>
		</form>
	</div>

	
	
	
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>