<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>		
		<meta charset="ISO-8859-1"></meta>		
		<title>Reserva</title>		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>		
	</head>
	
	
	<body>
	
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/reserva/registrar}" method="post" th:object="${reserva}">
				<div class="form-group">
					
					<label for="idReserva">ID:</label> 
					<input type="text" class="form-control" th:field="*{idReserva}"></input>
					
					<div class="form-group">
				
						<label 	for="descripcion">Descripcion:</label> 
						<input type="text" th:field="*{descripcionReserva}" class="form-control" id="descripcion"></input>
						
						<label 	for="fecha">Fecha:</label> 
						<input type="date" th:field="*{fechaReserva}" class="form-control" id="fecha"></input>
						
						<label for= "servicio" class = "col-sm-2 col-from-label">Servicio</label>
						<select class = "form-control" th:field="*{servicio.idServicio}">	
						<option th:each= "serv: ${listaServicios}"
						        th:value= "${serv.idServicio}"
						        th:text= "${serv.nombreServicio}"
						        th:selected= "(${serv.idServicio} == *{servicio.idServicio})"></option>
						 </select>
						
						<label for= "psicologo" class = "col-sm-2 col-from-label">Psicologo</label>
						<select class = "form-control" th:field="*{psicologo.idPsicologo}">						
						<option th:each= "psi: ${listaPsicologos}"
						        th:value= "${psi.idPsicologo}"
						        th:text= "${psi.nombrePsicologo}"
						        th:selected= "(${psi.idPsicologo} == *{psicologo.idPsicologo})"></option>
						 </select>
						
						
						<label for= "paciente" class = "col-sm-2 col-from-label">Paciente</label>
						<select class = "form-control" th:field="*{paciente.idPaciente}">						
						<option th:each= "pac: ${listaPacientes}"
						        th:value= "${pac.idPaciente}"
						        th:text= "${pac.nombrePaciente}"
						        th:selected= "(${pac.idPaciente} == *{paciente.idPaciente})"></option>
						 </select>
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/reserva/listarReserva" class="btn btn-danger">Cancelar</a>
			</form>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>

	</body>
	
</html>
